@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  background:#f7f78f;
  background:linear-gradient(to right, #008bfc, #a60202);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.header{
  position: relative;
  left: 24%;
}

h4{
  letter-spacing: 1px;
}

.poke-container{
  display:flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: left;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon-name{
  display:flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 8px auto;
  max-width: 1200px;
  text-transform: capitalize;
}

.pokemon-name .img-container{
background-color: rgba(255, 255 ,255, 0.6);
border-radius: 50%;
width: 120px;
height: 120px;
text-align: center;

}

.pokemon-name .img-container img{
max-width: 70%;
margin-top: 15px;
}

.pokemon{
  background-color:#eee;
  border-radius:10px;
  box-shadow:0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding:20px;
  text-align: center;
}


.pokemon .img-container{
background-color: rgba(255, 255 ,255, 0.6);
border-radius: 50%;
width: 120px;
height: 120px;
text-align: center;
}

.pokemon .img-container img{
max-width: 90%;
margin-top: 5px;
}


.pokemon .info {
margin-top:20px;
}

.pokemon .info .number{
background-color: rgba(0, 0, 0, 0.1);
padding:5px 10px;
border-radius:10px ;
font-size: 0.8em;
}

.pokemon .info .name{
  margin:15px 0 7px;
  letter-spacing: 1px;
}

#add-button{
  width: 70px;
  background-color: hwb(204 74% 24%);
  font-size: small;
  cursor: pointer;
  border:none;
}

#add-button:hover{
  background-color: rgb(18, 148, 255);
  transition: ease-in-out 0.5s;
  opacity: 90%;
  border:none;
}

#search-button{
  height: 25px;
  margin-top: 15px;
  border:none;
}
#search-button:hover{
background-color: coral;
border-radius: 2px;
}

#pokemonName{
  border:8px;
  border-color: blue;
  height: 23px;
  background:linear-gradient(to right, #d9d9d9, #bfbfbf);
}

.btn-container{
  display: flex;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.collector{
  display:flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}


